<!DOCTYPE html>
<html>
<head>
    <title>Blog Roll</title>
</head>
<body>
    <h2> Blog Roll ({{ blog_info["blogs"]["success"] }} / {{ blog_info["blogs"]["all"] }}) | {{ blog_info["articles"]["shown_count"] }} articles shown. </h2>
    <hr>
    <ul>
        {% for article in blog_info["articles"]["shown"] %}
            <li>
                <span>
                     {{ article._blog.title }} ({{ article.date.date() }})
                </span>
                <h2>
                    <a href="{{ article.link }}">
                        {{ article.title }}
                    </a>
                </h2>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
