name: build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
      - run: pixi run generate-blog-roll meta/blogs.json
      - uses: actions/upload-pages-artifact@v3
        with:
          path: static
      - uses: actions/deploy-pages@v4
