name: build

on:
  push:
    branches:
      - main
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
      - run: pixi run python3 main.py
      - uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: static

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: ./site
      - uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages
